<div class="col-md-6 container-fluid text-center">
    <div class="starter-template">
        <h2>{{ foundUser.name }}</h2>
        <img class="photo-size" src="{{ foundUser.photo }}" height="350" width="350" />
        <br><br>
        {{#if currentUser }}

        {{ else }}
        <input type="hidden" id="user_id" value="{{ Founduser._id }}" />
        {{#if follower }}
        <p><button class="btn-primary" id="unfollow">Following</button></p>
        {{else}}
        <p><button class="btn-default" id="follow">Follow</button></p>
        {{/if}}
        {{/if}}
    </div>
<ul class="nav nav-tabs">
  <li class="active"><button class="btn btn-dark" data-toggle="tab" href="#Home"> Tweets </button></li>
  <li><button class="btn btn-dark" data-toggle="tab" href="#Following">Following</button></li>
  <li><button class="btn btn-dark" data-toggle="tab" href="#Followers">Followers</button></li>
</ul>

<div class="tab-content">
  <div id="Home" class="tab-pane fade in active">
      {{#each tweets }}
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="{{ owner.photo }}" /> </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ owner.name }}</h4>
                <p>{{ content }}</p>
            </div>
        </div>
      {{/each}}
  </div>
  <div id="Following" class="tab-pane fade">
      {{#each foundUser.following}}
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="{{ photo }}" /> </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ name }}</h4>
            </div>
        </div>
      {{/each}}
  </div>
  <div id="Followers" class="tab-pane fade">
      {{#each foundUser.followers }}
        <div class="media">
            <div class="media-left">
                <a href="#"><img class="media-object" src="{{ photo }}" /> </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ name }}</h4>
            </div>
        </div>
      {{/each}}
  </div>
</div>
</div>